<article>

    <h2 id="artTitle"></h2>
    <div id="artMetadata"></div>
    <div id="artContent"></div>

    <h3 id="commentTitle">
        <hr>
        <span>Comentários</span>
        <hr>
    </h3>
    <div id="commentForm"></div>
    <div id="commentList">
        <div class="spin">
            <i class="fa-solid fa-sync fa-spin"></i>
        </div>
    </div>

</article>
<aside>
<img style="max-width: 100%; height: auto; padding-top: 1em;" src="/img/anuncio.png" alt="">
<img style="max-width: 100%; height: auto; padding-top: 1em;" src="/img/anuncio.png" alt="">
<img style="max-width: 100%; height: auto; padding-top: 1em;" src="/img/anuncio.png" alt="">
<img style="max-width: 100%; height: auto; padding-top: 1em;" src="/img/anuncio.png" alt="">

</aside>